:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(135, 179, 94) url('./images/background-blurred.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.instructions {
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  max-width: 50px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all .3s ease-in-out;
  overflow: hidden;

  &:hover {
    background-color: rgba(0, 0, 0, 0.10);
    cursor: pointer;
  }
}

.instructions p {
  /* max-width: 0; */
  padding-inline: 10px;
  margin: 0;
  font-size: 14px;
  text-wrap: nowrap;
  overflow: hidden;
}

.instructions.open {
  /* max-width: 200px; */
  height: 80px;
  max-width: 350px;
}

.instructions-icon {
  width: 30px;
  height: 30px;
}